/*--------------------------
    MAIN AREA FOR PIXELGODS
-----------------------------*/


@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1600px !important;
    }
}

.story-bg-image {
    width: 100%;
    height: 1000px;
    object-fit: contain;
    background: rgba(0, 0, 0, 0) url("/img/paper-bg.jpg") no-repeat scroll center center / cover;
}

.hero-image {
    background-image: url("/img/paper-bg.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*color: white;*/
}

.scroll-box {
    background: #f4f4f4;
    border: 2px solid rgba(0, 0, 0, 0.1);
    min-height: 100px;
    max-height: 800px; /* maximum height of the box, feel free to change this! */
    padding: 15px;
    overflow-y: scroll;
}

.scroll-box-chat {
    max-height: 300px;
}
/*--------------------------
    Some requires from the theme css files
-----------------------------*/
