/*--------------------------
    MAIN AREA FOR PIXELGODS
-----------------------------*/


@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1600px !important;
    }
}

.story-bg-image {
    width: 100%;
    height: 1000px;
    object-fit: contain;
    background: rgba(0, 0, 0, 0) url("/img/paper-bg.jpg") no-repeat scroll center center / cover;
}

.hero-image {
    background-image: url("/img/paper-bg.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*color: white;*/
}

.scroll-box {
    background: #f4f4f4;
    border: 2px solid rgba(0, 0, 0, 0.1);
    min-height: 100px;
    max-height: 800px; /* maximum height of the box, feel free to change this! */
    padding: 15px;
    overflow-y: scroll;
}

.scroll-box-chat {
    max-height: 300px;
}


.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li .chat-body p {
    margin: 0;
    color: #777777;
}

.panel-body {
    overflow-y: scroll;
    height: 350px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}



button.width30p {
    width: 30%;
}